:root {
    --color-a: #8F6F42;
    --color-b: #FFDBA8;
    --color-c: #DBB37B;
    --color-d: #336C8F;
    --color-e: #7BB6DB;
    --txt-color: #1B394B;
    --bg-color: #FFF4E6;
    --bg-color-alt: #FFE9CC;
    --border: 1px solid var(--color-d);
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--txt-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    transition: 200ms linear;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

section {
    padding: 2rem 7%;
}

h1 {
    font-size: 3rem;
}

a {
    color: var(--txt-color);
}

.intro-header {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0;
}

.intro-header span {
    font-weight: bold;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: .5rem 1rem;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--txt-color);
}

.header .nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .nav-left img {
    border-radius: 50%;
    height: 3rem;
}

.header .nav-left h1 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.header .nav-left h1 span {
    font-weight: bold;
}

.header .nav-right .wide-screen {
    display: flex;
    gap: 2rem;
}

.header .nav-right .wide-screen a:hover {
    color: var(--color-d);
}

.header .nav-right .narrow-screen {
    display: none;
}

.header .nav-right .narrow-screen .fas, .far {
    font-size: 1.5rem;
}

.header .nav-right .narrow-screen .link-img:hover {
    cursor: pointer;
    color: var(--color-d);
}

/* INTRO BANNER */

.about {
    /* following photo https://unsplash.com/@samferrara */
    background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: center;
    min-height: 100vh;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about h1 {
    color: var(--bg-color);
}

.about p {
    color: var(--bg-color);
    font-size: 1.5rem;
}

/* SKILLS */

.skills .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
}

.skills .skills-container .skill {
    text-align: center;
    padding: 1rem;
    background-color: var(--bg-color-alt);
    border-radius: 1rem;
}

.skills .skills-container .skill h2 {
    padding: 1rem 0;
    font-size: 1.75rem;
    font-weight: 500;
}

.skills .skills-container .skill .skill-bars {
    width: 90%;
    margin: auto;
    text-align: left;
}

.skill-bars .bar-container {
    margin: 1rem 0;
    background-color: lightgrey;
    border: var(--border);
}

.bar {
    padding: .5rem 1rem;
}

.bar p {
    color: white;
}

.bar div {
    display: none;
}

.html {
    background-color: #e68a00;
    width: 95%;
}

.css {
    background-color: #336C8F;
    width: 80%;
}

.javascript {
    background-color: #009933;
    width: 30%;
}

.python {
    background-color: #7BB6DB;
    width: 80%;
}

.java {
    background-color: #e60000;
    width: 40%;
}

/* PROJECTS */

.projects .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin: auto;
    gap: 1rem;
}

.projects h1 {
    margin: 0;
}

.projects .more-info {
    text-align: center;
    padding: .5rem 0 1rem 0;
    font-weight: 400;
}

.projects .projects-container .project {
    text-align: center;
    transition-delay: 100ms;
    margin: 1rem 0;
}

.projects .projects-container .project img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.projects .projects-container .project .description {
    border-bottom: var(--border);
    border-right: var(--border);
    border-left: var(--border);
    padding: .5rem;
    transition: 200ms linear;
}
.projects .projects-container .project:hover .description {
    background-color: var(--bg-color-alt);
}

/* 
.projects .projects-container .project:hover .description h3 {
    color: var(--bg-color); 
}

.projects .projects-container .project:hover .description p {
    color: var(--bg-color); 
} */

.project .description p {
    padding: .5rem 0;
}

/* COURSEWORK */

.course-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}

.coursework .course-container .course {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.course h3, .course p {
    color: var(--bg-color);
    text-shadow: -1px -1px 0 var(--txt-color), 1px -1px 0 var(--txt-color), -1px 1px 0 var(--txt-color), 1px 1px 0 var(--txt-color);
}

.course {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1rem;
}

#cs101 {
    background-image: url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
}

#cs201 {
    background-image: url('https://images.unsplash.com/photo-1544207763-2872e5eb9b78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

#sta199 {
    background-image: url('https://images.unsplash.com/photo-1605870445919-838d190e8e1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');
}

#environ89s {
    background-image: url('https://images.unsplash.com/photo-1571786256017-aee7a0c009b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80');
}

/* CONTACT */

.contact-links {
    width: 70%;
    margin: auto;
    text-align: center;
}

.contact .contact-links div {
    font-size: 3rem;
    padding: 0 1rem;
}

.contact .contact-links div:hover {
    color: var(--color-d);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    padding: .5rem 3rem;
    background-color: var(--txt-color);
}

footer p {
    color: var(--bg-color);
    font-size: .8rem;
}

footer a {
    color: var(--bg-color);
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {

    h1 {
        font-size: 2.5rem;
    }

    .header .nav-right .narrow-screen {
        display: flex;
        gap: 2rem;
    }

    .header .nav-right .wide-screen {
        display: none;
    }

    .about p {
        font-size: 1.25rem;
        text-align: center;
    }

    .skills .skills-container {
        display: block;
    }

    .skills .skills-container .skill {
        margin-bottom: 2rem;
    }

    .skills .skills-container .skill h2 {
        font-size: 1.5rem;
    }

    .skill-bars .bar-container .bar {
        padding: .25rem 1rem;
    }

    .skill-bars .bar-container .bar p {
        display: none;
    }

    .skill-bars .bar-container .bar div {
        display: block;
        color: white;
        font-size: 1.5rem;
    }

    .contact .contact-links div {
        font-size: 2rem;
    }

    footer p {
        font-size: .8rem;
    }

}

@media screen and (max-width: 450px) {
    
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    .header .nav-left h1 {
        display: none;
    }

    .about p {
        font-size: 1rem;
        text-align: center;
    }

    .skills .skills-container .skill h2 {
        font-size: 1.25rem;
    }

    .skills .skills-container .skill .skill-bar div {
        font-size: .5rem;
    }
}